<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head">

</head>
<!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->
<body class="ps-loading">

<header th:replace="common/template_menu::header">

</header>
<div th:replace="common/template_menu::header-services">

</div>
<main class="ps-main">

  <div class="ps-product--detail pt-60">
	<div class="ps-container">
	  <div class="row">
		  <a th:each="book ,bookStat : ${book}">
		<div class="col-lg-10 col-md-12 col-lg-offset-1">
		  <div class="ps-product__thumbnail">
			<div class="ps-product__preview">
			  <div class="ps-product__variants">
				<div class="item" th:each="image,imageStat : ${book.imageList}"><img  th:src="@{${image.imageLink}}" alt=""></div>
			  </div><a class="popup-youtube ps-product__video" href="" th:each="image,imageStat : ${book.imageList}" th:if="${imageStat.count} eq 1"><img th:src="@{${image.imageLink}}" alt=""><i class="fa fa-play"></i></a>
			</div>
			<div class="ps-product__image">
			  <div class="item" th:each="image,imageStat : ${book.imageList}"><img class="zoom" th:src="@{${image.imageLink}}"  alt="" th:data="${image.imageLink}"></div>
			</div>
		  </div>
		  <div class="ps-product__thumbnail--mobile">
			<div class="ps-product__main-img" th:each="image,imageStat : ${book.imageList}" th:if="${imageStat.count} eq 1"><img th:src="@{${image.imageLink}}" alt=""></div>
			<div class="ps-product__preview owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="20" data-owl-nav="true" data-owl-dots="false" data-owl-item="3" data-owl-item-xs="3" data-owl-item-sm="3" data-owl-item-md="3" data-owl-item-lg="3" data-owl-duration="1000" data-owl-mousedrag="on" th:each="image,imageStat : ${book.imageList}">
				<img th:src="@{${image.imageLink}}" alt="">
			</div>
		  </div>
		  <div class="ps-product__info">
			<div class="ps-product__rating">

			  <select class="ps-rating" id="score" onchange="addScore()">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			  </select>

				<p th:text="${book.score}" id="bookScore"></p>
				<a th:href="@{/review-search(bookId=${book.bookId})}">(查看所有书评)</a>
			</div>
			<h1 th:href="'/product-detail?'+bookName+'='+${book.name}" id="bookName" th:text="${book.name}">Air strong  training</h1>
			  <p class="ps-product__category">

			  </p>
			  <h3 class="ps-product__price" ><a th:text="${book.price}">£ 115 </a><del  th:text="${book.price}*1.5">£ 330</del></h3>
			<div class="ps-product__block ps-product__quickview">
			  <p>作者：<a th:text="${book.writer}"></a></p>
			</div>
			<div class="ps-product__block ps-product__style">
			  <h4>标签</h4>
				<a th:each="classify,classifyStat : ${book.classifyList}">
					<a  th:href="'product-listing?'+itemId+'='+${classify.itemId}+'&'+currentPage+'=1'" th:text="${classify.itemName}+'  '">Men shoes</a>
				</a>
			  <!--<ul>-->
				<!--<li><a href="#">图书</a></li>-->
				<!--<li><a href="#">好看</a></li>-->
				<!--<li><a href="#">文艺</a></li>-->
				<!--<li><a href="#">小说</a></li>-->
			  <!--</ul>-->
			</div>
			  <form th:action="@{/addCart(bookId=${book.getBookId()})}" th:method="post" onsubmit="return checkUser()">
			<div class="ps-product__block ps-product__size">
			  <h4>选择数量</h4>
			  <div class="form-group">
				<input class="form-control" type="number" name="count" th:value="${count}">
			  </div>
			</div>
			<div class="ps-product__shopping">
				<button class="ps-btn mb-10" type="submit">加入购物车<i class="ps-icon-next"></i></button>
			  <div class="ps-product__actions">
				  <a class="mr-10" href="javascript:void(0);" onclick="addLove()"><i class="ps-icon-heart"></i></a>
				  <!--<a href="#"><i class="ps-icon-share"></i></a>-->
			  </div>
			</div>
			  </form>
		  </div>
		  <div class="clearfix"></div>
		  <div class="ps-product__content mt-50">
			<ul class="tab-list" role="tablist">
			  <li class="active"><a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab">详情</a></li>
			  <li><a href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab">书评</a></li>
			  <li><a href="#tab_03" aria-controls="tab_03" role="tab" data-toggle="tab">添加标签</a></li>
			  <li><a href="#tab_04" aria-controls="tab_04" role="tab" data-toggle="tab">商品问答</a></li>
			</ul>
		  </div>
		  <div class="tab-content mb-60">
			<div class="tab-pane active" role="tabpanel" id="tab_01">
			  <p th:text="${book.description}"></p>
			</div>
			<div class="tab-pane" role="tabpanel" id="tab_02">
			  <p class="mb-20">1条评论</p>
			  <div class="ps-review">
				<div class="ps-review__thumbnail"><img src="images/user/1.jpg" alt=""></div>
				<div class="ps-review__content">
				  <header>
					<select class="ps-rating">
					  <option value="1">1</option>
					  <option value="1">2</option>
					  <option value="1">3</option>
					  <option value="1">4</option>
					  <option value="5">5</option>
					</select>
					<p><a href="#"> czc</a> -2018-08-12</p>
				  </header>
				  <p>我时常幻想自己是来自未来的，这样，有一天我面对未来某一时刻的突然变化，就会更从容，面对陈年往事也会更慷慨。但，我更适合平庸，如寻常人一样琐碎繁杂的生活，对时间的细枝末节斤斤计较。 就如同哈桑洋溢着笑脸对阿米尔说的那样：为你，千千万万遍。
				  </p>
				</div>
			  </div>

				<form class="ps-product__review" th:action="@{/add-review(bookId=${book.getBookId()})}" th:method="post" onsubmit="return checkUser()">
					<h4>添加你的书评</h4>
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
						<div class="form-group">
							<input type="text" class="form-control" name="title" th:value="${title}"  placeholder="请添加标题" >
						</div>
						<div class="form-group">
							<textarea class="form-control" rows="6" name="text" th:value="${text}" ></textarea>
						</div>
						<div class="form-group">
							<button class="ps-btn ps-btn--sm" type="submit">提交<i class="ps-icon-next"></i></button>
						</div>
					</div>
				</div>
			  </form>
			</div>
			<div class="tab-pane" role="tabpanel" id="tab_03">
			  <p>添加标签 <span> *</span></p>
			  <form class="ps-product__tags" action="_action" method="post">
				<div class="form-group">
				  <input class="form-control" type="text" placeholder="">
				  <button class="ps-btn ps-btn--sm">+</button>
				</div>
			  </form>
			</div>
			<div class="tab-pane" role="tabpanel" id="tab_04">
			  <div class="form-group">
				<textarea class="form-control" rows="6" placeholder="Enter your addition here..."></textarea>
			  </div>
			  <div class="form-group">
				<button class="ps-btn" type="button">Submit</button>
			  </div>
			</div>
		  </div>
		</div>
		  </a>
	  </div>
	</div>
  </div>
	<div class="ps-section ps-section--top-sales ps-owl-root pt-40 pb-80">
		<div class="ps-container">
			<div class="ps-section__header mb-50">
				<div class="row">
					<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
						<h3 class="ps-section__title" data-mask="YOU MIGHT ALSO LIKE">- 猜你喜欢</h3>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
						<div class="ps-owl-actions"><a class="ps-prev" href="#"><i class="ps-icon-arrow-right"></i>Prev</a>
							<a class="ps-next" href="#">Next<i class="ps-icon-arrow-left"></i></a></div>
					</div>
				</div>
			</div>
			<div class="ps-section__content" >
				<div class="ps-owl--colection owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="false" data-owl-dots="false" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-duration="1000" data-owl-mousedrag="on">
					<div class="ps-shoes--carousel"  th:each="booklist ,booklistStat : ${bookList}" th:if="${booklistStat.count} lt '9'">
						<div class="ps-shoe">
							<a th:each="imagelist , imagelistStat : ${booklist.imageList}" th:if="${imagelistStat.count} eq '1'">
								<div class="ps-shoe__thumbnail" >
									<div class="ps-badge"><span>New</span></div>
									<div class="ps-badge ps-badge--sale ps-badge--2nd"><span>-33%</span>
									</div>
									<a class="ps-shoe__favorite" href="#">
										<i class="ps-icon-heart"></i>
									</a>
									<img th:src="@{${imagelist.imageLink}}" alt="" >
									<a class="ps-shoe__overlay" th:href="'/product-detail?'+bookName+'='+${booklist.name}">
									</a>
								</div>
							</a>
							<div class="ps-shoe__content">
								<div class="ps-shoe__variants">
									<div class="ps-shoe__variant normal" >
										<img th:each="imagelist , imagelistStat : ${booklist.imageList}" th:src="@{${imagelist.imageLink}}" alt="">
									</div>
									<select class="ps-rating ps-shoe__rating">
										<option value="1">1</option>
										<option value="1">2</option>
										<option value="1">3</option>
										<option value="1">4</option>
										<option value="2">5</option>
									</select>
								</div>
								<div class="ps-shoe__detail"><a class="ps-shoe__name" th:href="'/product-detail?'+bookName+'='+${booklist.name}" th:text="${booklist.name}">Air Jordan 7 Retro</a>
									<span class="ps-shoe__price">
					<del th:text="${booklist.price}*1.5">£220</del><a th:text="${booklist.price}">£ 120</a> </span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</main>
<footer th:replace="common/template_menu::footer">

</footer>
<!-- JS Library-->
<script type="text/javascript" src="plugins/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="plugins/gmap3.min.js"></script>
<script type="text/javascript" src="plugins/imagesloaded.pkgd.js"></script>
<script type="text/javascript" src="plugins/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="plugins/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="plugins/slick/slick/slick.min.js"></script>
<script type="text/javascript" src="plugins/elevatezoom/jquery.elevatezoom.js"></script>
<script type="text/javascript" src="plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="plugins/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&amp;region=GB"></script>
<script type="text/javascript" src="plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<!-- Custom scripts-->
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript">
	function addLove() {
	    var bookName=$("#bookName").text();
	    if(checkUser()){
            $.ajax({
                url:"http://localhost:8080/addLove?bookName="+bookName,
                type:"get",
                success:function(data){
                    alert("收藏成功")
                },
                error:function(data){
                    alert("error");
                    console.log(data)
                }
            });
		}

    }
	function addScore() {
        var flag=false;
        if(checkUser()){
            $.ajax({
                url:"http://localhost:8080/addScore?score="+$("#score").val()+"&bookScore="+$("#bookScore").text(),
                type:"get",
                success:function(data){
                    $("#bookScore").text(data)
                },
                error:function(data){
                    alert("error");
                    console.log(data)
                }
            });
		}

    }
    function checkUser() {
        var flag=false;
        $.ajax({
            url:"http://localhost:8080/checkUser",
            type:"get",
			async:false,
            success:function(data){
                if(data){
                    flag=true;
                }else {
                    alert("请先登录")
				}
            },
            error:function(){
                alert("error");
            }
        });
        return flag;
    }
</script>
</body>
</html>
