<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/template_head::head">

</head>

<body class="ps-loading">

<header th:replace="common/template_menu::header">

</header>

<main class="ps-main">
  <div class="ps-banner">
	<div class="rev_slider fullscreenbanner" id="home-banner">
	  <ul>
		<li class="ps-banner" data-index="rs-2972" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-rotate="0"><img class="rev-slidebg" src="/images/slider/茶花女.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>
		  <div class="tp-caption ps-banner__header" id="layer-1" data-x="left" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-120','-150','-170']" data-width="['none','none','none','400']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
			<p>热销图书</p>
		  </div>
		  <div class="tp-caption ps-banner__title" id="layer21" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
			<p class="text-uppercase">茶花女</p>
		  </div>
		  <div class="tp-caption ps-banner__description" id="layer211" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
			<p>《茶花女》是法国作家亚历山大·小仲马创作的长篇小说，<br>也是其代表作。故事讲述了一个青年人与巴黎</br>上流社会一位交际花曲折凄婉的爱情故事。</p>
		  </div><a class="tp-caption ps-btn" id="layer31" th:href="@{/product-detail(bookName=${'茶花女'})}" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','200','200']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1500,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">现在购买<i class="ps-icon-next"></i></a>
		</li>
		<li class="ps-banner ps-banner--white" data-index="rs-100" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-rotate="0"><img class="rev-slidebg" src="/images/slider/未来简史.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>
		  <div class="tp-caption ps-banner__header" id="layer20" data-x="left" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-150','-120','-150','-170']" data-width="['none','none','none','400']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
			<p>热销图书</p>
		  </div>
		  <div class="tp-caption ps-banner__title" id="layer339" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
			<p class="text-uppercase">时间简史</p>
		  </div>
		  <div class="tp-caption ps-banner__description" id="layer2-14" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
			<p>在进入21世纪后，曾经长期威胁人类生存、发展的瘟疫、<br>饥荒和战争已经被攻克，智人面临着新的待办议题：</br>永生不老、幸福快乐和成为具有“神性”的人类</p>
		  </div><a class="tp-caption ps-btn" id="layer364" th:href="@{/product-detail(bookName=${'未来简史'})}" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['120','140','200','200']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1500,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">现在购买<i class="ps-icon-next"></i></a>
		</li>
	  </ul>
	</div>
  </div>
  <div class="ps-section--features-product ps-section masonry-root pt-100 pb-100">
	<div class="ps-container">
	  <div class="ps-section__header mb-50">
		  
		<h3 class="ps-section__title" data-mask="hot sale">- 热销图书</h3>

		<ul class="ps-masonry__filter" >
		  <li class="current">
			  <a href="#" data-filter="*">所有 <sup>8</sup></a></li>
		  <li><a href="#" data-filter=".literature">文学 <sup>2</sup></a></li>
		  <li><a href="#" data-filter=".Popular">流行 <sup>2</sup></a></li>
		  <li><a href="#" data-filter=".Culture">文化 <sup>2</sup></a></li>
		  <li><a href="#" data-filter=".Life">生活 <sup>2</sup></a></li>
		</ul>
	  </div>
	  <div class="ps-section__content pb-50" >
		<div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
		  <div class="ps-masonry">
			<div class="grid-sizer"></div>
			  <a th:each="BookList,BookListStat: ${literatureBookList}" th:if="${BookListStat.count} le '2'" >
			<div class="grid-item literature" >

			  <div class="grid-item__content-wrapper" >

				<div class="ps-shoe mb-30" >
				  <div class="ps-shoe__thumbnail">
					  <div class="ps-badge"><span>New</span></div>
					  <div class="ps-badge ps-badge--sale ps-badge--2nd"><span>-33%</span></div>
					  <a class="ps-shoe__favorite" href="#">
					  <i class="ps-icon-heart"></i></a>
					  <a th:each="image,imageStat : ${BookList.imageList}">
					  <img th:if="${imageStat.count} eq '1'" th:src="@{${image.imageLink}}"  alt="">
					  <a class="ps-shoe__overlay" th:href="'/product-detail?'+bookName+'='+${BookList.name}">
					  </a>
					  </a>
				  </div>
				  <div class="ps-shoe__content">
					<div class="ps-shoe__variants">
					  <div class="ps-shoe__variant normal">
						  <a th:each="image,imageStat : ${BookList.imageList}">
						  <img th:src="@{${image.imageLink}}" alt="">
						  </a>
					  </div>
					  <select class="ps-rating ps-shoe__rating">
						<option value="1">1</option>
						<option value="1">2</option>
						<option value="1">3</option>
						<option value="1">4</option>
						<option value="2">5</option>
					  </select>
					</div>
					<div class="ps-shoe__detail"><a class="ps-shoe__name"th:href="'/product-detail?'+bookName+'='+${BookList.name}" th:text="${BookList.name}">Air Jordan 7 Retro</a>
					  <p class="ps-shoe__categories"><a th:each="classify,classifyStat : ${BookList.classifyList}"><a  th:href="'product-listing?'+itemId+'='+${classify.itemId}+'&'+currentPage+'=1'" th:text="${classify.itemName}+'  '">Men shoes</a></a></p><span class="ps-shoe__price" th:text="${BookList.price}"> £ 120</span>
					</div>
				  </div>
				</div>
			  </div>
			</div>
			  </a>
			  <a th:each="BookList,BookListStat: ${PopularBookList}" th:if="${BookListStat.count} le '2'" >
			<div class="grid-item Popular">
				<div class="grid-item__content-wrapper" >

					<div class="ps-shoe mb-30" >
						<div class="ps-shoe__thumbnail">
							<div class="ps-badge"><span>Hot</span></div>
							<div class="ps-badge ps-badge--sale ps-badge--2nd"><span>-33%</span></div>
							<a class="ps-shoe__favorite" href="#">
								<i class="ps-icon-heart"></i></a>
							<a th:each="image,imageStat : ${BookList.imageList}">
								<img th:if="${imageStat.count} eq '1'" th:src="@{${image.imageLink}}"  alt="">
								<a class="ps-shoe__overlay" th:href="'/product-detail?'+bookName+'='+${BookList.name}">
								</a>
							</a>
						</div>
						<div class="ps-shoe__content">
							<div class="ps-shoe__variants">
								<div class="ps-shoe__variant normal">
									<a th:each="image,imageStat : ${BookList.imageList}">
										<img th:src="@{${image.imageLink}}" alt="">
									</a>
								</div>
								<select class="ps-rating ps-shoe__rating">
									<option value="1">1</option>
									<option value="1">2</option>
									<option value="1">3</option>
									<option value="1">4</option>
									<option value="2">5</option>
								</select>
							</div>
							<div class="ps-shoe__detail"><a class="ps-shoe__name"th:href="'/product-detail?'+bookName+'='+${BookList.name}" th:text="${BookList.name}">Air Jordan 7 Retro</a>
								<p class="ps-shoe__categories"><a th:each="classify,classifyStat : ${BookList.classifyList}"><a  th:href="'product-listing?'+itemId+'='+${classify.itemId}+'&'+currentPage+'=1'" th:text="${classify.itemName}+'  '">Men shoes</a></a></p><span class="ps-shoe__price" th:text="${BookList.price}"> £ 120</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			  </a>
			  <a th:each="BookList,BookListStat: ${CultureBookList}" th:if="${BookListStat.count} le '2'" >
			<div class="grid-item Culture">
				<div class="grid-item__content-wrapper" >

					<div class="ps-shoe mb-30" >
						<div class="ps-shoe__thumbnail">
							<div class="ps-badge"><span>New</span></div>
							<div class="ps-badge ps-badge--sale ps-badge--2nd"><span>-33%</span></div>
							<a class="ps-shoe__favorite" href="#">
								<i class="ps-icon-heart"></i></a>
							<a th:each="image,imageStat : ${BookList.imageList}">
								<img th:if="${imageStat.count} eq '1'" th:src="@{${image.imageLink}}"  alt="">
								<a class="ps-shoe__overlay" th:href="'/product-detail?'+bookName+'='+${BookList.name}">
								</a>
							</a>
						</div>
						<div class="ps-shoe__content">
							<div class="ps-shoe__variants">
								<div class="ps-shoe__variant normal">
									<a th:each="image,imageStat : ${BookList.imageList}">
										<img th:src="@{${image.imageLink}}" alt="">
									</a>
								</div>
								<select class="ps-rating ps-shoe__rating">
									<option value="1">1</option>
									<option value="1">2</option>
									<option value="1">3</option>
									<option value="1">4</option>
									<option value="2">5</option>
								</select>
							</div>
							<div class="ps-shoe__detail"><a class="ps-shoe__name"th:href="'/product-detail?'+bookName+'='+${BookList.name}" th:text="${BookList.name}">Air Jordan 7 Retro</a>
								<p class="ps-shoe__categories"><a th:each="classify,classifyStat : ${BookList.classifyList}"><a  th:href="'product-listing?'+itemId+'='+${classify.itemId}+'&'+currentPage+'=1'" th:text="${classify.itemName}+'  '">Men shoes</a></a></p><span class="ps-shoe__price" th:text="${BookList.price}"> £ 120</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			  </a>
			<a th:each="BookList,BookListStat: ${LifeBookList}" th:if="${BookListStat.count} le '2'" >
			<div class="grid-item Life">
				<div class="grid-item__content-wrapper" >

					<div class="ps-shoe mb-30" >
						<div class="ps-shoe__thumbnail">
							<div class="ps-badge"><span>Hot</span></div>
							<div class="ps-badge ps-badge--sale ps-badge--2nd"><span>-33%</span></div>
							<a class="ps-shoe__favorite" href="#">
								<i class="ps-icon-heart"></i></a>
							<a th:each="image,imageStat : ${BookList.imageList}">
								<img th:if="${imageStat.count} eq '1'" th:src="@{${image.imageLink}}"  alt="">
								<a class="ps-shoe__overlay" th:href="'/product-detail?'+bookName+'='+${BookList.name}">
								</a>
							</a>
						</div>
						<div class="ps-shoe__content">
							<div class="ps-shoe__variants">
								<div class="ps-shoe__variant normal">
									<a th:each="image,imageStat : ${BookList.imageList}">
										<img th:src="@{${image.imageLink}}" alt="">
									</a>
								</div>
								<select class="ps-rating ps-shoe__rating">
									<option value="1">1</option>
									<option value="1">2</option>
									<option value="1">3</option>
									<option value="1">4</option>
									<option value="2">5</option>
								</select>
							</div>
							<div class="ps-shoe__detail"><a class="ps-shoe__name"th:href="'/product-detail?'+bookName+'='+${BookList.name}" th:text="${BookList.name}">Air Jordan 7 Retro</a>
								<p class="ps-shoe__categories"><a th:each="classify,classifyStat : ${BookList.classifyList}"><a  th:href="'product-listing?'+itemId+'='+${classify.itemId}+'&'+currentPage+'=1'" th:text="${classify.itemName}+'  '">Men shoes</a></a></p><span class="ps-shoe__price" th:text="${BookList.price}"> £ 120</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			</a>
		  </div>
		</div>
	  </div>
	</div>
  </div>

  
  <div class="ps-home-testimonial bg--parallax pb-80" data-background="/images/book4.jpg">
	<div class="container">
	  <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">
		<div class="ps-testimonial">
		  <div class="ps-testimonial__thumbnail"><img src="/images/testimonial/1.jpg" alt=""><i class="fa fa-quote-left"></i></div>
		  <header>
			<select class="ps-rating">
			  <option value="1">1</option>
			  <option value="1">2</option>
			  <option value="1">3</option>
			  <option value="1">4</option>
			  <option value="5">5</option>
			</select>
			<p>czc</p>
		  </header>
		  <footer>
			<p>“给身边很多人推荐了这本书，最不像东野圭吾的解忧杂货店。没有他引人注目的悬疑和推理，看似凌乱实则缜密。每个人物都充满了矛盾和羁绊，最终又得到救赎。很多朋友反映此书人物众多，且时空错乱，稍不留神会觉得莫名其妙。为大家拥有更好的阅读体验，本人义务制作了本技术贴，帮你理清时间顺序和人物关系。“</p>
		  </footer>
		</div>
		<div class="ps-testimonial">
		  <div class="ps-testimonial__thumbnail"><img src="/images/testimonial/2.jpg" alt=""><i class="fa fa-quote-left"></i></div>
		  <header>
			<select class="ps-rating">
			  <option value="1">1</option>
			  <option value="1">2</option>
			  <option value="1">3</option>
			  <option value="1">4</option>
			  <option value="5">5</option>
			</select>
			<p>ww</p>
		  </header>
		  <footer>
			<p>“其实，这样的月兔和克郎与生活中的我们何其相似。有时即便心中有真正想做的事，也会因害怕失败而找各种借口忽视。最好的借口就是为了重要的人不得不放弃，似乎只要不是自己的原因，心头的重担就能减轻一些。 “</p>
		  </footer>
		</div>
		<div class="ps-testimonial">
		  <div class="ps-testimonial__thumbnail"><img src="/images/testimonial/3.jpg" alt=""><i class="fa fa-quote-left"></i></div>
		  <header>
			<select class="ps-rating">
			  <option value="1">1</option>
			  <option value="1">2</option>
			  <option value="1">3</option>
			  <option value="1">4</option>
			  <option value="5">5</option>
			</select>
			<p>czc</p>
		  </header>
		  <footer>
			<p>“说来也是好笑，最近的我又开始重新追看《火影忍者》，即使中间隔了长长的十年时光，那些当初打动了我的东西，如今重温依然会让我鼻头泛酸。“</p>
		  </footer>
		</div>
	  </div>
	</div>
  </div>
  <div class="ps-section ps-home-blog pt-80 pb-80">
	<div class="ps-container">
	  <div class="ps-section__header mb-50">
		<h2 class="ps-section__title" data-mask="REVIEWS">- 书 评</h2>
		<div class="ps-section__action"><a class="ps-morelink text-uppercase" th:href="@{/review-listing}">查看所有书评<i class="fa fa-long-arrow-right"></i></a></div>
	  </div>
	  <div class="ps-section__content">
		<div class="row">
			  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
				<div class="ps-post">
				  <div class="ps-post__thumbnail"><a class="ps-post__overlay" ></a><img src="/images/book1.jpg" alt=""></div>
				  <div class="ps-post__content"><a class="ps-post__title" th:href="@{/review-detail}">这个世界上的李国华们</a>
					<p class="ps-post__meta"><span><a class="mr-5" >czc</a></span> -<span class="ml-5">2017-07-10</span></p>
					<p>一个胆子大的男生斟满啤酒，在众人的起哄声中摇摇晃晃地走过去那一桌，夸张地举起杯子：沈老师，我代表我们这届学生敬你一杯！说完更夸张地一饮而尽，就差醉倒在一堆鸡翅膀边上了。沈老师吃了一惊，旋即反应过来，弄清楚男生是哪个学校哪一届学生后，也兴高采烈地箍住男生的肩膀。“真高兴啊，你们还记得我。嘻嘻嘻。”他看上去已经有四五十岁了，头发还是很黑很茂密，衬衫扣到上面倒数第二颗......</p>
					  <a class="ps-morelink" th:href="@{/review-detail}">阅读更多<i class="fa fa-long-arrow-right"></i></a>
				  </div>
				</div>
			  </div>
			  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
				<div class="ps-post">
				  <div class="ps-post__thumbnail"><a class="ps-post__overlay"></a><img src="/images/book2.jpg" alt=""></div>
				  <div class="ps-post__content"><a class="ps-post__title" th:href="@{/review-detail}">月球的背面</a>
					<p class="ps-post__meta"><span><a class="mr-5" >czc</a></span> -<span class="ml-5">2017-07-10</span></p>
					<p>而房思琪之所以在这样畸形的关系中压抑了五年却无人可诉最终发疯，她的父母要负很大责任。在最初被老师强奸后，她问母亲“我们家好像什么教育都有，就是没有性教育”，她的母亲冷着脸说“性教育只是给那些需要性的人”。到后来在新闻里看到老师和学生搞在一起的新闻，她试探性地问妈妈的看法，妈妈回答“小小年纪就那么骚”。于是她感到困惑，她只能去爱老师，因为你爱的人可以对你做任何事......</p>
					  <a class="ps-morelink" th:href="@{/review-detail}">阅读更多<i class="fa fa-long-arrow-right"></i></a>
				  </div>
				</div>
			  </div>
			  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
				<div class="ps-post">
				  <div class="ps-post__thumbnail"><a class="ps-post__overlay" ></a><img src="/images/book3.jpg" alt=""></div>
				  <div class="ps-post__content"><a class="ps-post__title" th:href="@{/review-detail}">对友谊最大的误解，就是认为它是万能的</a>
					<p class="ps-post__meta"><span><a class="mr-5" >czc</a></span> -<span class="ml-5">2018-09-10</span></p>
					<p>用了两日两夜的时间看完了这部书。刚开始的时候，我被他沉闷的书名欺骗了。只要是生于中国、受过9年义务教育的人，不消拜读，亦不消多想，看到封面上“风筝”二字，便知道其中必有象征意义，因为我们的祖国语文总是充斥着这样那般的象征和以小见大，一想起就让人倒胃，于是我想我很难把他读下来......</p>
					  <a class="ps-morelink" th:href="@{/review-detail}">阅读更多<i class="fa fa-long-arrow-right"></i></a>
				  </div>
				</div>
			  </div>
		</div>
	  </div>
	</div>
  </div>
<!--
  <div class="ps-home-contact">
	<div id="contact-map" data-address="New York, NY" data-title="BAKERY LOCATION!" data-zoom="17"></div>
	<div class="ps-home-contact__form">
	  <header>
		<h3>Contact Us</h3>
		<p>Learn about our company profile, communityimpact, sustainable motivation, and more.</p>
	  </header>
	  <footer>
		<form action="product-listing.html" method="post">
		  <div class="form-group">
			<label>Name<span>*</span></label>
			<input class="form-control" type="text">
		  </div>
		  <div class="form-group">
			<label>Email<span>*</span></label>
			<input class="form-control" type="email">
		  </div>
		  <div class="form-group">
			<label>Your message<span>*</span></label>
			<textarea class="form-control" rows="4"></textarea>
		  </div>
		  <div class="form-group text-center">
			<button class="ps-btn">Send Message<i class="fa fa-angle-right"></i></button>
		  </div>
		</form>
	  </footer>
	</div>
  </div>
-->
    <footer th:replace="common/template_menu::footer">

    </footer>
</main>
<!-- JS Library-->
<script type="text/javascript" src="/plugins/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script type="text/javascript" src="/plugins/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/plugins/gmap3.min.js"></script>
<script type="text/javascript" src="/plugins/imagesloaded.pkgd.js"></script>
<script type="text/javascript" src="/plugins/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/plugins/jquery.matchHeight-min.js"></script>
<script type="text/javascript" src="/plugins/slick/slick/slick.min.js"></script>
<script type="text/javascript" src="/plugins/elevatezoom/jquery.elevatezoom.js"></script>
<script type="text/javascript" src="/plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://ditu.google.cn/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&amp;region=GB"></script>
<script type="text/javascript" src="/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="/plugins/revolution/js/extensions/revolution.extension.migration.min.js"></script>

<!-- Custom scripts-->
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>